{{!-- ******************************************
* File:      footer.hbs
* Purpose:   Page footer Section
* Authors:   Anthony McGrath (anthony-kyle)
*            Cameron Shaw    (camshaw11)
*            Steven De Lacy  (steven-delacy)
******************************************* --}}

<footer class="container-fluid text-center">
  <p>Web Design and Content &copy; 
    <a href="http://anthonykyle.co.nz">Anthony McGrath</a>,
    <a href="https://camshaw11.github.io">Cameron Shaw</a> and 
    <a href="https://steven-delacy.github.io">Steven De Lacy</a>, August 2020
  </p>
</footer>