{{!-- ******************************************
* File:      header.hbs
* Purpose:   Header Page Section
* Authors:   Anthony McGrath (anthony-kyle)
*            Cameron Shaw    (camshaw11)
*            Steven De Lacy  (steven-delacy)
******************************************* --}}

<header class="text-center">
  <a href="/"><h1 class="display-4">Joke Me Daddy</h1></a>
  <img src="/images/Knock-Knock.png" alt="Site Logo">
</header>