{{!-- ******************************************
* File:      header.hbs
* Purpose:   Header Page Section
* Authors:   Anthony McGrath (anthony-kyle)
*            Cameron Shaw    (camshaw11)
*            Steven De Lacy  (steven-delacy)
******************************************* --}}

<header class="text-center">
  <h1 class="display-4">JOKE ME DADDY</h1>
  <img src="/images/Knock-Knock.png" alt="Site Logo">
</header>