{{!-- ******************************************
* File:      header.hbs
* Purpose:   Header Page Section
* Authors:   Anthony McGrath (anthony-kyle)
*            Cameron Shaw    (camshaw11)
*            Steven De Lacy  (steven-delacy)
******************************************* --}}

<header class="text-center">
  <h1 class="display-4 my-3">JOKE ME DADDY</h1>
</header>