{{!-- ******************************************
* File:      metaSEO.hbs
* Purpose:   Provides SEO Page details
* Authors:   Anthony McGrath (anthony-kyle)
*            Cameron Shaw    (camshaw11)
*            Steven De Lacy  (steven-delacy)
******************************************* --}}
<title>Joke Me Daddy{{#if title}} | {{title}}{{/if}}</title>
<meta name="description" content="{{#if description}}{{description}}{{/if}}">