{{!-- ******************************************
* File:      nav.hbs
* Purpose:   Page Nav Section
* Authors:   Anthony McGrath (anthony-kyle)
*            Cameron Shaw    (camshaw11)
*            Steven De Lacy  (steven-delacy)
******************************************* --}}

<nav>
  Page nav
  Link Home | Link to Add New Joke
</nav>