{{!-- ******************************************
* File:      main.hbs
* Purpose:   HTML Format for App
* Authors:   Anthony McGrath (anthony-kyle)
*            Cameron Shaw    (camshaw11)
*            Steven De Lacy  (steven-delacy)
******************************************* --}}

<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  {{>metaSEO}}
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon"      sizes="57x57"    href="/images/apple-icon-57x57.png">
  <link rel="apple-touch-icon"      sizes="60x60"    href="/images/apple-icon-60x60.png">
  <link rel="apple-touch-icon"      sizes="72x72"    href="/images/apple-icon-72x72.png">
  <link rel="apple-touch-icon"      sizes="76x76"    href="/images/apple-icon-76x76.png">
  <link rel="apple-touch-icon"      sizes="114x114"  href="/images/apple-icon-114x114.png">
  <link rel="apple-touch-icon"      sizes="120x120"  href="/images/apple-icon-120x120.png">
  <link rel="apple-touch-icon"      sizes="144x144"  href="/images/apple-icon-144x144.png">
  <link rel="apple-touch-icon"      sizes="152x152"  href="/images/apple-icon-152x152.png">
  <link rel="apple-touch-icon"      sizes="180x180"  href="/images/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32"    href="/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96"    href="/images/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16"    href="/images/favicon-16x16.png">
  <link rel="manifest"                               href="/manifest.json">
  <meta name="msapplication-TileColor"               content="#ffffff">
  <meta name="msapplication-TileImage"               content="/ms-icon-144x144.png">
  <meta name="theme-color"                           content="#ffffff">

  {{!-- Stylesheets --}}
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <div class="container">
    {{>header}}
    {{>nav}}
    {{{body}}}
    {{>footer}}
  </div>

  {{!-- Bootrap Components --}}
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>