{{!-- ******************************************
* File:      home.hbs
* Purpose:   Provides Homepage Contents
* Authors:   Anthony McGrath (anthony-kyle)
*            Cameron Shaw    (camshaw11)
*            Steven De Lacy  (steven-delacy)
******************************************* --}}
<div class="container text-center">

    <div class="jokes mb-5">
      <div id="jokeId">{{id}}</div>
      <h1 id="setup">{{setup}}</h1>
      <hr>
      <h1 id="punchline">{{punchline}}</h1>
    </div>

    <form method="GET" action="/">
      <div class="form-group">
        <label for="remix">
        <label class="switch">
          <input type="checkbox" name="remix" id="remix"{{#if remix}} checked{{/if}}>
          <span class="slider round"></span>
        </label>
        Remix The Jokes?
      </label>
      </div>
      <button type="submit" class="btn btn-dark">New Joke</button>
    </form>

</div>
