{{!-- ******************************************
* File:      home.hbs
* Purpose:   Provides Homepage Contents
* Authors:   Anthony McGrath (anthony-kyle)
*            Cameron Shaw    (camshaw11)
*            Steven De Lacy  (steven-delacy)
******************************************* --}}

<h1 class="display-4">Home Body</h1>
<div class="jokes">
  <h2 id="setup">Setup</h2>
  <h2 id="punchline">Punchline</h2>
</div>
<form>
  <button>New Joke</button>
</form>