/**************************************************
 * File:      style.css
 * Purpose:   Performs Styling for Site
 * Authors:   Anthony McGrath (anthony-kyle)
 *            Cameron Shaw    (camshaw11)
 *            Steven De Lacy  (steven-delacy)
 **************************************************/

/**************************************************
 * API Imports
 **************************************************/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

/**************************************************
 * Global Styles
 **************************************************/
body {
  margin: 0;
  padding: 0;
  background-color: #efefef;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100%;
  align-items: center;
  justify-content: center;
}

em {
  opacity: 0.8;
}


/**************************************************
 * Header Styles
 **************************************************/
header {
  position: relative;
  background-color: #787878;
  min-height: 30%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  text-align: center;
}

header h1 {
  margin: auto;
  position: relative;
  z-index: 2;
  display: flex;
  justify-self: center;
  text-align: center;
}

.display-4 {
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.0;
  align-self:center;
}

header img {
  position: absolute;
  bottom: 0;
  right: 5%;
  width: auto; 
  height: 80%;
  z-index: 0;
}

@media screen and (max-width: 1024px){
  header {
    min-height: 20%;
  }

  .display-4 {
    font-size: 4rem;
    font-weight: 400;
    line-height: 1.0;
  }
  
  header img {
    position: absolute;
    bottom: 0;
    right: 5%;
    width: auto; 
    height: 60%;
    z-index: 0;
  }
}

@media (max-width: 650px) {
  .display-4 {
      font-size: 3rem;
      font-weight: 300;
      line-height: 1.0;
      width: 80%;
  }
}

@media (max-width: 400px) {
  header img {
    display: none;
  }
}
/**************************************************
 * Nav Styles
 **************************************************/
nav, .btn {
  background-color: rgb(14, 191, 149);
}

/**************************************************
 * Checkbox Sliders
 **************************************************/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(14, 191, 149);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(14, 191, 149);
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/**************************************************
 * Footer Styling
 **************************************************/
footer {
  padding: 0.5em 0;
  border-top: solid 1px #cdcdcd;
  font-size: 0.7em;
  color: #787878;
}

footer a {
  color: #787878;
}


footer p {
  padding: 0px;
  margin: 0px;
}